@import "../scss/variables";

.applicant-card {
    width: 274px;
    height: 150px;
    background-color: $white;
    border: 1px solid #303F6080;
    border-radius: 5px;
    margin-top: 10px;
    .applicant-card-header {
        margin-top: 10px;
        margin-left: 4%;
        display: flex;
        gap: 20px;
        height: fit-content;
        .profile {
            background-color: $profile_bg;
            border-radius: 20px;    
            height: fit-content;
            p {
                font-size: 20px;
                color: $text;
                padding: 5px 12px;
            }
        }
        .info {
            .name {
                font-size: 15px;
                color: $text;
                font-weight: bold;
            }
            .email {
                font-size: 15px;
                columns: $text;
            }
        }
    }
    .body {
        margin-top: 10px;
        margin-left: 4%;
        .body-title {
            font-size: 13px;
            font-weight: bold;
            color: $text;
            padding-top: 5px;
        }
        .body-skills {
            font-size: 15px;
            color: $text;
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 450px) {
    .applicant-card {
        width: 200px;
        height: 150px;
    }
}


