@import "../scss/variables";

.forgot {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    .forgot-card {
        background-color: $white;
        box-shadow: 0px 30px 36px $card_border;
        border-radius: 20px;
        width: 557px;
        height: 340px;
        .forgot-title {
            margin-left: 5%;
            padding-top: 5%;
            font-size: 22px;
            color: $text;
            font-weight: bold;
        }
        .message {
            font-size: 14px;
            color: $text;
            margin-left: 5%;
            margin-right: 8%;
            font-weight: bold;
            margin-top: 10px;
        }
        .forgot-form {
            margin-left: 5%;
            margin-top: 5%;
            .field {
                .label {
                    display: block;
                    font-size: 14px;
                    color: $text;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                .inputBox {
                    background: #e8e8e833;
                    border: 1px solid #C6C6C6;
                    border-radius: 5px;
                    height: 35px;
                    width: 497px;
                    padding-left: 10px;
                    margin-bottom: 15px;
                }
                input:focus {
                    border: 1px solid $blue;
                    outline: none;
                }
            }
            .submit {
                background-color: $blue;
                color: $white;
                cursor: pointer;
                border: 1px solid $blue;
                border-radius: 5px;
                width: 148px;
                height: 46px;
                font-size: 16px;
                position: absolute;
                left: 50%;   
                transform: translateX(-50%);
                outline: none;
                margin: 5px 0;
            }
            .forgot {
                position: absolute;
                right: 40px;
                font-size: 14px;
                text-decoration: none;
                color: $blue;
                font-weight: bold;
            }
        }
        .info {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 16px;
            font-weight: bold;
            color: $text;
            .create-account {
                text-decoration: none;
                color: $blue;
                margin-left: 5px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .forgot {
        .forgot-card {
            width: 450px;
            height: 380px;
            .forgot-form {
                .field {
                    .inputBox {
                        height: 35px;
                        width: 390px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .forgot {
        .forgot-card {
            width: 350px;
            height: 380px;
            .forgot-form {
                .field {
                    .inputBox {
                        height: 35px;
                        width: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .forgot {
        .forgot-card {
            width: 290px;
            height: 380px;
            .forgot-form {
                .field {
                    .inputBox {
                        height: 35px;
                        width: 250px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 290px) {
    .forgot {
        .forgot-card {
            width: 250px;
            height: 380px;
            .forgot-form {
                .field {
                    .inputBox {
                        height: 35px;
                        width: 200px;
                    }
                }
                p {
                    padding-bottom: 25px;
                }
            }
        }
    }
}

