// Variables
$header_first: #303F60;
$header_second: #4D618E;
$header_bg: #1A253C;
$blue: #43AFFF;
$white: #FFF;
$body_bg: #EDF6FF;
$text: #303F60;
$input_border: #C6C6C6;
$input_incorrect: #FF333380;
$message_incorrect: #FF0000;
$card_border: #557DA526;
$view_btn_bg: #43AFFF33;
$profile_bg: #D9EFFF;
